#!/bin/bash

# Redis RDB backup
# 
#

# How many backups to keep
KEEP={{ redis_rdb_backup_keep }}
DEST="{{ redis_rdb_backup_destination }}"
RDB="{{ redis_dir }}/{{ redis_rdb_filename }}"
DATE=$(date +%Y%m%d_%H%M%S)

cp $RDB $DEST/{{ redis_rdb_filename }}-$DATE

# remove older rdb backups
COUNT=$(( `ls  $DEST/{{ redis_rdb_filename }}-* | wc -l` - $KEEP ))
if [ $COUNT -gt 0 ]; then
  [[ $1 == '-v' ]] && echo "Erasing $COUNT old backups (rdb) for {{ redis_dbfilename }}"
  for i in `ls $DEST/{{ redis_rdb_filename }}-* | head -$COUNT`; do
    rm $i
  done
fi

{% if redis_rdb_backup_s3bucket %}
s3cmd sync --delete-removed {{ redis_rdb_backup_destination }}/  s3://{{ redis_rdb_backup_s3bucket }}/
{% endif %}